spring.datasource.url=${DATABASE_URL:jdbc:postgresql://localhost:5432/wallo}
spring.datasource.username=${DATABASE_USERNAME:postgres}
spring.datasource.password=${DATABASE_PASSWORD:sua-senha-aqui}
jwt.secret=${JWT_SECRET:sua-chave-secreta-longa-aqui}